<div class="slider-containerVisiter">
  <h3 style="text-align: start; margin-left: 10px;">Articles visiter</h3>
  <div class="sliderVisiter">
    <% visiter.forEach((produit) => { %>
    <div class="article-carte">
      <img src="<%= produit.url %>" alt="<%= produit.nom %>">
      <br>
      <p style="text-align: center; text-transform: uppercase;"> <strong> <%= produit.nom %> </strong> </p>
      <span><%= produit.info %></span>
      <div class="prix">
        <span class="prix-actuel" style="color: #293847; font-weight: bolder; font-size: 1.2rem;"><%= produit.prix %> CFA</span>
      </div>
      <button>Ajouter</button>
    </div>
    <% }); %>
    <div>

    </div>
  </div>