<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="refresh" content="2"> -->
  <meta name="theme-color" content="#293847">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- awesome cdn  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- box icon here  -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- boostrap here -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


  <!-- mon css here -->
  <link rel="stylesheet" href="/css/style.css">
  <title>Accueil</title>
</head>

<body id="body">

  <%- include('composants/nav.ejs') %>

  <%- include('composants/promo.ejs') %> <br>
  <%- include('composants/burger-menu.ejs') %>
  <%- include('composants/panier.ejs') %>
  <%- include('composants/tab-bar.ejs') %>
  <%- include('composants/coupon.ejs') %> <br>


  <!-- mon slider visiter  -->
  <%- include('composants/slider-visiter.ejs') %> <br>
  <!-- mon slider visiter  -->


  <!-- offres special -->
  <%- include('composants/offre-special.ejs') %> <br>
  <!-- offres special -->

  <br> <br> <br> <br>
  <!-- mon slider  telephones -->
  <%- include('composants/slider-telephones.ejs') %> <br>
  <!-- mon slider telephones -->
  <br> <br>

  <!-- cool card -->
  <%- include('composants/cool-card.ejs') %> <br> <br>

  <!-- cool card -->

  <!-- deux carte -->
  <%- include('composants/deux-card.ejs') %> <br>

  <!-- deux carte -->


  <br>
  <!-- grosse carte  -->
  <%- include('composants/grosse-card.ejs') %> <br>

  <!-- grosse cart -->
  <br>
  <br>
  <!-- mode slider  -->
  <%- include('composants/slider-mode.ejs') %> <br> 

  <!-- mode slider -->
  <br>
  <br>
  <!-- electro slider  -->
  <%- include('composants/slider-electro.ejs') %> <br>

  <!-- electro slider -->
  <br>


  <div class="app-pub">
    <button>L'APPLI Lafyshop</button> <br>
    <p style="text-align: center;">Hey , tu veux shopper
      easy ?</br>
      Retriuve des selecs creees juste pour toi</p>
    <br>
    <input type="submit" value="TELECHARGER MAINTENANT"><br>
  </div>

  <!-- FOOTER ICI  -->
  <%- include('composants/footer.ejs') %>
  <!-- FOOTER ICI  -->



  <!-- boostrap here -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="/script/index.js"></script>


</body>
<script>
  // Attendez que le DOM soit chargé avant d'exécuter du code JavaScript
  document.addEventListener('DOMContentLoaded', function() {

    // 1. Récupérez les données depuis le serveur et stockez-les dans le localStorage
    fetch('/recupererArticlesvisiter')
      .then(response => {
        if (!response.ok) {
          throw new Error('La réponse du serveur n\'est pas OK');
        }
        return response.json();
      })
      .then(data => {
        localStorage.setItem('articlesVisiter', JSON.stringify(data));
        console.log(data);
        // 2. Une fois les données récupérées, bouclez dans votre slider
        populateSlider();
      })
      .catch(error => console.error('Erreur lors de la récupération des données : ' + error));

    // 3. Créez une fonction pour boucler dans le slider
    function populateSlider() {
      // Récupérer les données d'articles visités depuis le localStorage
      const articlesVisites = JSON.parse(localStorage.getItem('articlesVisiter'));

      // Vérifiez si des articles visités existent
      if (articlesVisites && articlesVisites.length > 0) {
        // Sélectionnez l'élément parent où vous souhaitez ajouter les articles
        const slider = document.querySelector('.sliderVisiter');

        // Bouclez sur les articles et générez dynamiquement les éléments HTML
        articlesVisites.forEach((article) => {
          const articleCarte = document.createElement('div');
          articleCarte.classList.add('article-carte');

          // Vous pouvez personnaliser le contenu de chaque article en fonction des données
          articleCarte.innerHTML = `
          <img src="${article.url}" alt="${article.nom}">
          <br>
          <p style="text-align: start;">${article.nom}<br>-
            <span>${article.details}</span>
          </p>
          <div class="prix">
            <span class="prix-actuel" style="color: #293847; font-weight: bolder; font-size: 1.2rem;">${article.prix} CFA</span>
          </div>
          <button>Ajouter</button>
        `;

          slider.appendChild(articleCarte);
        });
      }
    }


    // 1. Récupérez les données depuis le serveur et stockez-les dans le localStorage
    fetch('/recupererPromo')
      .then(response => {
        if (!response.ok) {
          throw new Error('La réponse du serveur n\'est pas OK');
        }
        return response.json();
      })
      .then(data => {
        localStorage.setItem('promo', JSON.stringify(data));
        console.log(data);
        // 2. Une fois les données récupérées, bouclez dans votre slider
        populatePromo();
      })
      .catch(error => console.error('Erreur lors de la récupération des données : ' + error));

    // 3. Créez une fonction pour boucler dans le slider
    function populatePromo() {
      // Récupérer les données d'articles visités depuis le localStorage
      const offre_special = JSON.parse(localStorage.getItem('promo'));

      // Vérifiez si des articles visités existent
      if (offre_special && offre_special.length > 0) {
        // Sélectionnez l'élément parent où vous souhaitez ajouter les articles
        const box = document.querySelector('.offre-box');

        // Bouclez sur les articles et générez dynamiquement les éléments HTML
        offre_special.forEach((offre) => {
          const offreSpecial = document.createElement('div');
          offreSpecial.classList.add('offre-special');

          // Vous pouvez personnaliser le contenu de chaque article en fonction des données
          offreSpecial.innerHTML = `
        <div class="offre-img">
        <img src="${offre.url}" alt="${offre.nom}">
    </div>
    <div class="details">
        <p><strong>${offre.nom}</strong></br> </br>
        <span>${offre.details}</span></p>
        <div class="etoils d-flex">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
        </div>
        <h6 style="text-decoration: line-through;">${offre.faux_prix} CFA</h6>
        <h4>${offre.prix} CFA</h4>
     </div>
    <i class='bx bxs-cart-add'></i>
  </div> <br>
        `;

          box.appendChild(offreSpecial);
        });
      }
    }


    // ...

    // 1. Récupérez les données depuis le serveur et stockez-les dans le localStorage
    fetch('/recupererTelSlider')
      .then(response => {
        if (!response.ok) {
          throw new Error('La réponse du serveur n\'est pas OK');
        }
        return response.json();
      })
      .then(data => {
        localStorage.setItem('telSlider', JSON.stringify(data));
        console.log(data);
        // 2. Une fois les données récupérées, bouclez dans votre slider
        populateTelSlider();
      })
      .catch(error => console.error('Erreur lors de la récupération des données : ' + error));

    // 3. Créez une fonction pour boucler dans le slider
    function populateTelSlider() {
      // Récupérer les données d'articles visités depuis le localStorage
      const telBox = JSON.parse(localStorage.getItem('telSlider'));

      // Vérifiez si des articles visités existent
      if (telBox && telBox.length > 0) {
        // Sélectionnez l'élément parent où vous souhaitez ajouter les articles
        const boxParent = document.querySelector('.sliderTelephone');

        // Bouclez sur les articles et générez dynamiquement les éléments HTML
        telBox.forEach((telCarte) => {
          const telItems = document.createElement('div');
          telItems.classList.add('article-carte');

          // Vous pouvez personnaliser le contenu de chaque article en fonction des données
          telItems.innerHTML = `
  <img src="${telCarte.url}" alt="${telCarte.nom}">
            <br>
            <p style="text-align: center;">${telCarte.nom}</br>-
                <span>${telCarte.details}</span>
            <div class="prix">
                <span class="prix-actuel"
                    style="color: #293847; font-weight: bolder; font-size: 1.2rem;">${telCarte.prix} CFA</span>
            </div>
            <button>Ajouter</button>
  `;

          boxParent.appendChild(telItems);
        });
      }
    }


    // 1. Récupérez les données depuis le serveur et stockez-les dans le localStorage
    fetch('/recupererMoment')
      .then(response => {
        if (!response.ok) {
          throw new Error('La réponse du serveur n\'est pas OK');
        }
        return response.json();
      })
      .then(data => {
        localStorage.setItem('moment', JSON.stringify(data));
        console.log(data);
        // 2. Une fois les données récupérées, bouclez dans votre slider
        populateMoment();
      })
      .catch(error => console.error('Erreur lors de la récupération des données : ' + error));

    // 3. Créez une fonction pour boucler dans le slider
    function populateMoment() {
      // Récupérer les données d'articles visités depuis le localStorage
      const moment = JSON.parse(localStorage.getItem('moment'));

      // Vérifiez si des articles visités existent
      if (moment && moment.length > 0) {
        // Sélectionnez l'élément parent où vous souhaitez ajouter les articles
        const deuxCard = document.querySelector('.deux-card-container');

        // Bouclez sur les articles et générez dynamiquement les éléments HTML
        moment.forEach((momentItem) => {
          const momentCard = document.createElement('div');
          momentCard.classList.add('carte');

          momentCard.innerHTML = `
        <img src="${momentItem.url}" width="55px" alt="${momentItem.nom}">
        <br>
        <p style="text-align: center; font-size: 0.9rem;">${momentItem.nom}</br>-
            <span>${momentItem.details}</span>
        </p>
        <div class="prix">
            <span class="prix-actuel" style="color: #293847; font-weight: bolder; font-size: 0.9rem;">${momentItem.prix} CFA</span>
        </div>
        <button>Ajouter</button>
    `;

          deuxCard.appendChild(momentCard);
        });

      }
    }


  // 1. Récupérez les données depuis le serveur et stockez-les dans le localStorage
  fetch('/recupererBigCard')
  .then(response => {
    if (!response.ok) {
      throw new Error('La réponse du serveur n\'est pas OK');
    }
    return response.json();
  })
  .then(data => {
    localStorage.setItem('bigCard', JSON.stringify(data));
    console.log(data);
    // 2. Une fois les données récupérées, bouclez dans votre slider
    populateBigCard();
  })
  .catch(error => console.error('Erreur lors de la récupération des données : ' + error));

// 3. Créez une fonction pour boucler dans le slider
function populateBigCard() {
  // Récupérer les données d'articles visités depuis le localStorage
  const bigCard = JSON.parse(localStorage.getItem('bigCard'));

  // Vérifiez si des articles visités existent
  if (bigCard && bigCard.length > 0) {
    // Sélectionnez l'élément parent où vous souhaitez ajouter les articles
    const bigCardContainer = document.querySelector('.grosse-card-container');

    // Bouclez sur les articles et générez dynamiquement les éléments HTML
    bigCard.forEach((bigCardItem) => {
      const bigCardDiv = document.createElement('div');
      bigCardDiv.classList.add('div');

      bigCardDiv.innerHTML = `
        <div class="img-box shadow-sm">
          <img src="${bigCardItem.url}" width="99%" alt="${bigCardItem.nom}">
          <i style="position: absolute; right: 10px; z-index: 3; color: rgb(23, 195, 23); font-size: 3rem;" class='bx bxs-cart-add'></i>
        </div>
        <div class="details">
          <p><strong>${bigCardItem.nom}</strong> </p>
          <div class="start-box d-flex">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half'></i>
          </div>
          <span style="color: #A60303;">${bigCardItem.prix}</span> <span style="text-decoration: line-through; font-size: 0.9rem;">${bigCardItem.faux_prix}</span>
        </div>
      `;

      bigCardContainer.appendChild(bigCardDiv);
    });
  }
}


  // 1. Récupérez les données depuis le serveur et stockez-les dans le localStorage
  fetch('/recupererHf')
  .then(response => {
    if (!response.ok) {
      throw new Error('La réponse du serveur n\'est pas OK');
    }
    return response.json();
  })
  .then(data => {
    localStorage.setItem('hf', JSON.stringify(data));
    console.log(data);
    // 2. Une fois les données récupérées, bouclez dans votre slider
    populateHm();
  })
  .catch(error => console.error('Erreur lors de la récupération des données hf: ' + error));

// 3. Créez une fonction pour boucler dans le slider
function populateHm() {
  // Récupérer les données d'articles visités depuis le localStorage
  const hm = JSON.parse(localStorage.getItem('hf'));

  // Vérifiez si des articles visités existent
  if (hm && hm.length > 0) {
    // Sélectionnez l'élément parent où vous souhaitez ajouter les articles
    const hmContainer = document.querySelector('.sliderMode');

    // Bouclez sur les articles et générez dynamiquement les éléments HTML
    hm.forEach((hmCardItem) => {
      const hmDiv = document.createElement('div');
      hmDiv.classList.add('article-carte');

      hmDiv.innerHTML = `
      <img src="${hmCardItem.url}" alt="${hmCardItem.nom}">
            <br>
            <p style="text-align: center;">${hmCardItem.nom}</br>-
                <span>${hmCardItem.details}</span>
            <div class="prix">
                <span class="prix-actuel"
                    style="color: #293847; font-weight: bolder; font-size: 1.2rem;">${hmCardItem.prix}CFA</span>
            </div>
            <button>Ajouter</button>
      `;

      hmContainer.appendChild(hmDiv);
    });
  }
}

  // 1. Récupérez les données depuis le serveur et stockez-les dans le localStorage
  fetch('/recupererElectro')
  .then(response => {
    if (!response.ok) {
      throw new Error('La réponse du serveur n\'est pas OK');
    }
    return response.json();
  })
  .then(data => {
    localStorage.setItem('electro', JSON.stringify(data));
    console.log(data);
    // 2. Une fois les données récupérées, bouclez dans votre slider
    populateElectro();
  })
  .catch(error => console.error('Erreur lors de la récupération des données electro: ' + error));

// 3. Créez une fonction pour boucler dans le slider
function populateElectro() {
  // Récupérer les données d'articles visités depuis le localStorage
  const electro = JSON.parse(localStorage.getItem('electro'));

  // Vérifiez si des articles visités existent
  if (electro && electro.length > 0) {
    // Sélectionnez l'élément parent où vous souhaitez ajouter les articles
    const electroContainer = document.querySelector('.sliderElectro');

    // Bouclez sur les articles et générez dynamiquement les éléments HTML
    electro.forEach((electroCardItem) => {
      const electroDiv = document.createElement('div');
      electroDiv.classList.add('article-carte');

      electroDiv.innerHTML = `
      <img src="${electroCardItem.url}" alt="${electroCardItem.nom}">
            <br>
            <p style="text-align: center;">${electroCardItem.nom}</br>-
                <span>${electroCardItem.details}</span>
            <div class="prix">
                <span class="prix-actuel"
                    style="color: #293847; font-weight: bolder; font-size: 1.2rem;">${electroCardItem.prix}CFA</span>
            </div>
            <button>Ajouter</button>
      `;

      electroContainer.appendChild(electroDiv);
    });
  }
}



  });
</script>

</html>