<!-- views/product-details.ejs -->
<html>
<head>
  <title>Détails du Produit</title>
</head>
<body >
  <h1>Détails du Produit</h1>
  <p>Nom du Produit: <%= product.nom %></p>
  <p>Prix: <%= product.prix %></p>
  <img src="<%= product.url %>" alt="<%= product.nom %>">
  <p>Informations: <%= product.info %></p>
  <!-- Ajoutez d'autres détails du produit selon vos besoins -->
</body>
</html>
